<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Pastebin-Like</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<style>
    form > * {
        margin-top: 20px;
    }
</style>
<body style="margin: 30px;">

{% if pseudo is defined %}
    <nav style="text-align: right;">
        <h3>{{ pseudo }}</h3>
        {% if mypastes is defined%}{% else %}
        <a href="/my-pastes"><button class="btn btn-outline-secondary">MY PASTES</button></a>
        {% endif %}
        <a href="/disconnect"><button class="btn btn-outline-secondary">LOG OUT</button></a>
    </nav>
{% else %}
<nav style="text-align: right;">
    {% if signup is defined%}{% else %}
    <a href="/signup"><button class="btn btn-outline-secondary">SIGN UP</button></a>
    {% endif %}

    {% if login is defined%}{% else %}
    <a href="/loginpage"><button class="btn btn-outline-secondary">LOG IN</button></a>
    {% endif %}
</nav>
{%endif %}
<a href="/" style="text-decoration: none; color: firebrick;"><h1 style="text-align: center;">PASTEBIN LIKE</h1></a>

{% block signup %}{% endblock %}
{% block login %}{% endblock %}
{% block home %}{% endblock %}
{% block paste %}{% endblock %}
{% block mypastes %}{% endblock %}

</body>
</html>