{% extends "main.twig" %}

{% block signup%}

{% if error is defined %}
  <p>{{ error }} : Mail -> {{ mail }} or pseudo -> {{ pseudo }}</p>
  Go to login ? <a href="/loginpage"><button class="btn btn-warning">LOGIN</button></a>
{% endif %}


<div style="margin-top: auto; margin-left: auto;">
  <form method="post" action="/signup">
    <input class="form-control form-control-lg" type="email" placeholder="Your mail" name="email" required></input>
    <input class="form-control form-control-lg" type="text" placeholder="Your pseudo" name="pseudo" required></input>
    <input class="form-control form-control-lg" type="password" placeholder="Your password" name="password" required></input>
    <button type="submit" class="btn btn-warning">Submit</button>
  </form>
</div>

{% endblock %}